*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    color: #454545;
}

.card {
    margin-bottom:10px;
    width: 100px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;

    font-size: 50px;
    margin: 10px;
}

.cardEmpty {
    margin-bottom:10px;
    width: 100px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    background-color: rgb(240, 240, 240);
}

.front {
    border: 1px solid #eee;
    border-radius: 10px;
    background-image: url(./img/textureCarte.png);
}
.back {
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

#playfield {
    width: auto;
    margin: 0 auto; 
}

#container {
    display: flex;
    justify-content: center;
}

#relancer, #montrer {
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #454545;
    margin: 0 10px 0 10px;
}

#bouttons{
    border-top: #454545 1px solid;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#infos {
    text-align: center;
}

#victoire {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(129, 0, 0);
}